extends layout
 
block content
  h1= title
  p Welcome to #{title}
  form(method='post', enctype='multipart/form-data')
    input(type='file', name='video')
    input(type='submit', name='video', value='Upload Video')